/*

Lavish HTML CSS Template

https://templatemo.com/tm-458-lavish
		
*/

body {
    background: #000000;
    color: #999;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

ul {
    padding-inline-start: 0px;
}

/* start all section */
/* #home,
#home .fp-slide,
#home .fp-tableCell, */

#specialities,
#specialities .fp-slide,
#specialities .fp-tableCell,

#about,
#about .fp-slide,
#about .fp-tableCell,

#contact,
#contact .fp-slide,
#contact .fp-tableCell,

#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,

#certificates,
#certificates .fp-slide,
#certificates .fp-tableCell,

footer,
footer .fp-slide,
footer .fp-tableCell {
    height: auto !important;
}

/* end all section */

/* start all heading */
h1,
h2,
h3,
h4,
h5 {
    color: #ffffff;
    font-weight: bold;
}

/* end all heading */

/* start all section */
#specialities,
#about,
#portfolio,
#certificates,
#contact {
    padding-top: 100px;
    padding-bottom: 120px;
}

/* end all section */

/*banner background*/
#banner-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url('../images/home-bg.jpg');
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.25;
}

/* start home */
#home {
    position: relative;
    z-index: 2;
    padding-top: 10vh;
    padding-bottom: 140px;
    text-align: center;
}

#home h1 {
    border: 2px solid #f69707;
    color: #f69707;
    display: inline-block;
    letter-spacing: 6px;
    padding: 25px 35px;
    margin: 30px 0;
}

#home h2 {
    padding-bottom: 10px;
}

#home .btn {
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    height: 60px;
    margin-top: 40px;
    padding-top: 18px;
    transition: all 0.4s ease-in-out;
}

#home .btn:hover {
    background: #f69707;
    border-color: transparent;
}

#home img {
    max-width: 200px;
    border-radius: 50%;
}

#home ul {
    position: relative;
    overflow: hidden;
}

#home li {
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
    margin: 0 auto;
}
/* end home */

/* start specialities */
#specialities {
    background: #1a1a1a;
}

#specialities h2 {
    text-align: center;
}

.specialities_title {
    margin-bottom: 40px;
}

.spec_card_container {
    margin: 0 auto;
    height: auto;
    position: relative;
}

.spec_card_container svg {
    width: 212.5px;
    height: 212.5px;
    position: absolute;
    top: 0;
    left: calc(50% - 106.25px);
    z-index: 900;
    pointer-events: none;
}

.spec_card_container svg circle {
    cx: 106.25px;
    cy: 106.25px;
    r: 104px;
    stroke: #f69707;
    stroke-width: 4px;
    fill: none;
    -webkit-animation-name: draw-circle;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform-origin: center;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: center;
}

@-webkit-keyframes draw-circle {
    0% {
        stroke-dasharray: 0, 810; /*pattern of dash and gap (0px dash, 810px gap)*/
    }

    100% {
        stroke-dasharray: 810, 0;
    }
}

.spec_card_container p {
    text-align: center;
    width: 100%;
    padding: 28px 35px;
    margin: 0 auto;
    font-size: 1.2em;
}

.spec_card {
    margin: 0 auto;
    width: 212.5px;
    height: 212.5px;
    border-radius: 50%;
    border: none;
    position: relative;
    display: flex;
}

.spec_card:hover {
    background-color: #f69707;
}

.spec_card h3 {
    margin: auto auto;
    text-align: center;
}

.spec_card:hover h3 {
    font-size: 2.2em;
    animation-name: swing;
    /*Invoke the animation in animate.css*/
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    -webkit-animation-name: swing;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-name: swing;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -o-animation-name: swing;
    -o-animation-duration: 0.5s;
    -o-animation-iteration-count: 1;
    -o-animation-timing-function: ease-in;
    -ms-animation-name: swing;
    -ms-animation-duration: 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: ease-in;
}

.spec_card_container p {
    opacity: 0;
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
}

.spec_card:hover+p {
    opacity: 1;
}
/* end specialities */

/* start about */
#about h2 {
    text-align: center;
}

.about_title {
    margin-bottom: 40px;
}

.exp_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.l_exp_list {
    height: auto;
    flex-basis: 45%;
    text-align: left;
}

.time_line {
    width: 10px;
    min-width: 10px;
    background-color: #f69707;
}

.r_exp_list {
    height: auto;
    flex-basis: 45%;
}

.r_exp_list h4{
    text-align: right;
}

.l_exp_list div, .r_exp_list div {
    height: 100px;
    position: relative;
}

.exp_container h4 {
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-style: italic;
}

.exp_item {
    border-bottom: 2px solid #f69707;
}
/* end about */

/* start portfolio */
#portfolio {
    text-align: center;
}

#portfolio h2 {
    padding-bottom: 30px;
}

#portfolio .portfolio-thumb {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

#portfolio .portfolio-thumb .portfolio-overlay {
    background: #f69707;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
    opacity: 0.8;
    transform: scale(0.9);
}

.portfolio-overlay {
    display: flex;
    align-items: center;
}

.portfolio-overlay div {
    width: 100%;
    text-align: center;
}

.portfolio-overlay a {
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
    display: block;
    text-align: center;
}
/* end portfolio */

/* start certificates*/
#certificates {
    background-color: #1a1a1a;
    text-align: center;
}

#certificates h2 {
    padding-bottom: 30px;
}

.certificate-thumb {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.certificate-thumb img {
    aspect-ratio: 1/0.8;
}

.certificate-name {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    background-color: rgba(16,16,16,0.75);
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 0;
    opacity: 0;
}

.certificate-thumb:hover .certificate-name {
    opacity: 1;
    transition: opacity 0.5s ease-in;
    -webkit-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
}
/* end certificates*/

/* start contact */
#contact {
    background-color: #1a1a1a;
}

#contact address {
    padding-bottom: 18px;
}

#contact .contact-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #ffffff;
}

#contact .fa {
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #f69707;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    margin-right: 20px;
}

#contact .form-control {
    background: transparent;
    border: 2px solid #999;
    border-radius: 0;
    box-shadow: none;
    color: #ffffff;
    margin-bottom: 20px;
}

#contact input {
    height: 50px;
}

#contact input[type="submit"] {
    background: #f69707;
    border: 2px solid transparent;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
    background: #ffffff;
    color: #f69707;
}

/* end contact */

/* start footer */
footer {
    border-top: 1px solid #090909;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer hr {
    width: 100px;
}

/* end footer */

/* start social icon */
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border-radius: 50%;
    color: #606060;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    margin-right: 10px;
}

.social-icon li a:hover {
    color: #f69707;
}

/* end social icon */